
<h1><%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
</h1>
<% if logged_in? %>
  <section class="home_login_true">
        <%= render 'shared/home_login_true' %>
  </section>
<% else %>
  <section class="home_login_false">
        <%= render 'shared/home_login_false' %>
  </section>
<% end %>
